/*==========  Mobile First Method  ==========*/

/* Custom, iPhone Retina */ 
@media only screen and (min-width : 0px) {
	html, body{
		margin: 0;
		padding: 0;
		font-family: 'Lato', sans-serif;
		font-weight: 300;
	}

	.container-fluid{
		padding: 0;
	}

	.row {
		margin-right: 0px;
		margin-left: 0px;
	}

	.zero-sides{
		margin: 0px;
		padding: 0px;
	}

	.sections{
		margin: 0;
		height: 100%;
		width: 100%;
	}

	.darken-filter{
		background: rgba(0, 0, 0, 0.4);
	}

	/*homepage*/
	#homepage{
		background: linear-gradient(rgba(15, 159, 255, 0.5), rgba(15, 159, 255, 0.5)),
		url('../img/G.svg');
		background-repeat: no-repeat;
		background-size: cover;
		background-position: center;
	}

	#homepage > #about{
		background-color: rgba(255, 255, 255 ,0.1);
		color: white;
		padding: 5vh;
		height: 100vh;
	}

	#homepage > #about > #content{
		position: absolute;
		right: 2%;
		left: 2%;
		bottom: 5%;
	}

	.social-logos{
		width: 50px;
		height: 50px;
		border-radius: 50%;
		margin-right: 10px;
	}

	/*projects page*/
	#projectspage{
		background: linear-gradient(rgba(15, 159, 255, 0.1), rgba(15, 159, 255, 0.1)),
		url('');
		background-repeat: no-repeat;
		background-size: cover;
		background-position: center;
	}

	.project-cards{
		position: relative;
		padding: 0px;
	}

	.project-cards > img{
		width: 100%;
	}

	.project-cards > .info >p{
		display: none;
	}

	.project-cards > .info {
		position: absolute;
		top: 20px;
		left: 0px;
		right: 0px;
		margin: auto;
		color: white;
		text-align: center;
		z-index: 2;
	}

	.project-cards > .darken-filter{
		position: absolute;
		top: 0;
		height: 100%;
		width: 100%;
		z-index: 1;
	}

	/*Project Modal Popup*/

	.modal-content > .info {
		margin: 10%;
	}

	.proj-modal-header {
		padding: 2%;
	}

	.proj-modal-header > .proj-name {
		text-align: center;
		font-size: 20px;
	}

	/*Project Carousel*/
	.carousel-inner{
		height: 25vh;
	}

	.item > img {
		width: 100%;
	}

	/*contactpage*/
	#contactpage{
		background: #4549FF;
		color: white;
	}

	#contactpage > #salutation > #content{
		display: none;
	}
}

/* Extra Small Devices, Phones */ 
@media only screen and (min-width : 480px) {

}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {
	/*projects page*/

	.project-cards{
		border-radius: 25px;
		padding: 0px;
		margin: 20px;
		background-color: #EFEAEA;
		box-shadow: 7px 7px 4px #D1D1D1;
		transition: box-shadow 0.2s ease;
		cursor: pointer;
	}

	.project-cards:hover{
		box-shadow: 2px 2px 2px #C3C0C0;
	}

	.project-cards > img{
		border-top-right-radius: 25px;
		border-top-left-radius: 25px;
		width: 100%;
	}

	.project-cards > .info >p{
		display: block;
	}

	.project-cards > .info {
		position: relative;
		margin: auto;
		color: black;
		text-align: center;
		top: 0;
	}

	.project-cards > .darken-filter{
		display: none;
	}

	/*Project Carousel*/
	.carousel-inner{
		height: 50vh;
	}
}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {

	/*contactpage*/
	#contactpage > #salutation > #content{
		display: none;
	}
	/*homepage*/
	#homepage > #about{
		height: 100vh;
	}

	/*projects page*/
	.project-cards{
		border-radius: 25px;
		padding: 0px;
		min-height: 40vh;
	}


	/*contactpage*/
	#contactpage > #contact-form{
		height: 100vh;
	}

	#contactpage > #contact-form > #content{
		padding-top: 10%;
		padding-left: 25vw;
		padding-right: 25vw;
	}
}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {

}